<!-- About Section -->
<section class="page-section" id="about">
  <div class="container wow fadeIn">
    <div class="row">
      <div class="col-lg-6">
        <img class="img-fluid rounded my-5" src="img/creative/about.jpg" alt="">
      </div>
      <div class="col-lg-6 text-center my-auto">
        <h1>Hi, I'm John Smith</h1>
        <hr class="colored">
        <p>I am a freelance web designer, developer, and photographer based in San Francisco, California. I have a professional background in graphic design, and a degree in Computer Science from the University of Central California.</p>
        <p>Whether your next project is an online store, website for your business, or a simple brochure, I'll be ready to help!</p>
      </div>
    </div>
  </div>
</section>